/* General Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
 
  vertical-align: baseline;
}

/* Ensure the root and body take up the full viewport height */
html, body {
  height: 100%; /* Full height for the viewport */
  margin: 0; /* Remove default margin */
}

@font-face {
  font-family: 'TF2secondary';
  src: url('TF2secondary.ttf') format('truetype');
}

body {
  font-family: 'TF2secondary', Impact, sans-serif;
}

/* Main Container with Background */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100vw;
  background-image: url('https://f004.backblazeb2.com/file/beattle/blackscancrop.jpg');
  background-size: 20%;
  background-repeat: repeat;
  background-position: center;
  background-color: black; /* Fallback color */
  overflow-y: auto;
} 
.header {
  background-color: black; 
  margin:auto;
  width: 75vw; 
  text-align: center;
  flex-shrink: 0;
}
.header h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 36px;
}
.header p {
  color: white;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}
.links {
  display:flex;
  justify-content: space-evenly;
}

.blog-container {
  display: flex; 
  flex-direction: column; 
  flex-grow: 1; 
  width: 75vw; 
  margin: auto; 
  background-position: center; /* Center the background image */
  background-color: black; 
  text-align: center; /* Center child elements */
}

@media (max-width: 768px) {
  .blog-container {
    width: 100vw; /* Full width for smaller screens */
    padding: 10px; /* Reduce padding for better fit */
    box-sizing: border-box; /* Include padding in the width calculation */
  }
}
@media (max-width: 768px) {
  .header {
    width: 100vw; /* Full width for smaller screens */
    padding: 10px; /* Reduce padding for better fit */
    box-sizing: border-box; /* Include padding in the width calculation */
  }
}

.blog-container h2 {
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-size: 36px;
}
.blog-container p {
  color: white;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 15px;
}
.blog-container ul {
  color: white;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin: px;
}

.outerborder {
  border: 1px dashed white; 
  display: flex;
  padding: 4px;
  flex-grow: 1; 
  margin: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.midborder {
  border: 1px dashed white; 
  display: flex;
  padding: 4px;
  flex-grow: 1;  
}

.blog-post {
  padding: 4px;
  background-color: black;
  text-align: center; 
  border: 1px dashed white; 
  flex-grow: 1; 

}

.blog-post h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
.blog-post video {
  width:100%;
  padding-bottom: 10px;
  max-height: 80vh;
}

.post-date {
  font-style: italic;
  color: #888;
  margin-left: 70px;
  font-size: 14px;
}

.post-content {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 15px;
}

.spaced-hr {
  margin: 20px 0; 
}

a {
    color: #FFFFFF; 
    text-decoration: none; 
    line-height: .3; 
    font-size: 18px; 
}

a:hover {
    color: purple;  /* Optional hover effect */
}

/* Image Grid Styling */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* Space between images */
  margin-top: 20px; /* Add spacing above the grid */
}

.grid-image {
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
}
